:root {
  --primary-brand-color: #4d5ae5;
  --hover-color: #404bbf;
  --primary-background-color: #fcfcfc;
  --primary-text-color: #434455;
  --headings-text-color: #2e2f42;
  --subheading-text-color: #2e2f42;
  --white-text-color: #ffffff;
  --light-text-color: #f4f4fd;
  --accent-color: #e7e9fc;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  background-color: var(--primary-background-color);
  color: var(--subheading-text-color);
}

/* Links reset */

.link {
  text-decoration: none;
}

/* Lists reset */

.list {
  list-style: none;
}

/* Logo */

.logo {
  color: var(--primary-brand-color);
}

.logo-nav {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--subheading-text-color);
}

/* Navigation menu */

.menu-item {
  font-size: 16px;
  line-height: 1.5;
  color: var(--subheading-text-color);
}

.menu-item:hover,
.menu-item:focus {
  color: var(--hover-color);
}

.active-menu {
  color: var(--hover-color);
}

/* Contacts menu */

.contact-item {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--primary-text-color);
}

.contact-item:hover,
.contact-item:focus {
  color: var(--hover-color);
}

/* Hero */
.hero {
  background-color: var(--subheading-text-color);
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  color: #ffffff;
}

.button {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  color: var(--white-text-color);
  background-color: var(--primary-brand-color);

  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: var(--hover-color);
}

/* Section 1 */
.item-title {
  font-weight: 500;
  font-size: 20px;
}

.item-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var();
}
